header{
    color: black;
    padding: 100px auto;
    text-align: center;
    border-bottom: lightseagreen;
    margin-bottom: 10px;
    background-size: cover;
    height: 400px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#contenedor{
    width: 90%;
    margin: auto;
    padding: 10px;
}
#caja{
    background-color: lightyellow;
    color: black;
    width: 400px;
    height: 100px;
    padding: 50px;
    text-align: center;
    margin-left: 450px;
    margin-top: 100px;
}

.col-6{
    color: beige;
}

#lista{
    background-color: black;
}

#botones a {

    background-color: rgb(150, 189, 150);
    color: ivory;
    padding: 10px 15px;
    text-decoration: none;

}
#capa{
margin: 10px auto;
width: 400px;
}
main{
    height: 400px;
}

footer{
    height: 300px;
}